{% extends 'searchbase.html' %}

{% block content %}
<div class="container my-5">
    <div class="col-md-8 offset-md-3">
        <div class="card">
            <div class="card-header bg-dark text-white">
                {{ customer.username }} Detail Page
            </div>
            <div class="row p-3">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <thead>
                            <span class="h4">Porfile Information</span> &nbsp;
                        
                        </thead>
                        <br><br>
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{ customer.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{customer.email}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone</th>
                                <td>{{customer.profile.phone}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address</th>
                                <td>{{customer.profile.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <img class="img-thumbnail " style="height: 230px; width: 255px;" 
                    src="{{customer.profile.image.url}}" alt="profile-image">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
